@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@800&display=swap');

.home-title {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    color: white;
    font-size: 180px;
    letter-spacing: 5px;
    top: 35%;
    position: absolute;
    margin-top: -40px;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 800;
    text-shadow: -1px -1px 0px skyblue,
        3px 3px 0px skyblue,
        6px 6px 0px #0D47A1;
}

body {
    background-color: skyblue;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.form-container {
    height: 100%;
    width: 30%;
    position: fixed;
    left: .5%;
    text-align: center;
    z-index: 109;
    top: 10%;
}

input.input-text:focus {
    outline: none;
}

input.input-text,
input.submit {
    background-color: white;
    color: #0D47A1;
    font-weight: 300;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 22px;
    border-radius: 15px;
    box-shadow: -1px -1px 0px skyblue,
    3px 3px 0px skyblue,
    6px 6px 0px #0D47A1;
    margin: 2%;
    width: 100%;
}

::placeholder {
    color: #0D47A1;
    opacity: .5;
}