@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@800&display=swap');

.home-title {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    color: white;
    font-size: 180px;
    letter-spacing: 5px;
    top: 35%;
    position: absolute;
    margin-top: -40px;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 800;
    text-shadow: -1px -1px 0px skyblue,
        3px 3px 0px skyblue,
        6px 6px 0px #0D47A1;
}

body {
    background-color: skyblue;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.form-container {
    height: 100%;
    width: 30%;
    position: fixed;
    left: .5%;
    text-align: center;
    z-index: 109;
    top: 10%;
}

input.input-text:focus {
    outline: none;
}

input.input-text,
input.submit {
    background-color: white;
    color: #0D47A1;
    font-weight: 300;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 22px;
    border-radius: 15px;
    box-shadow: -1px -1px 0px skyblue,
    3px 3px 0px skyblue,
    6px 6px 0px #0D47A1;
    margin: 2%;
    width: 100%;
}

::placeholder {
    color: #0D47A1;
    opacity: .5;
}

h3#choose-game {
    padding: 6.67%;
    margin: 0%;
    text-align: left;
}

#bg-text-container {
    text-align: center;
    padding: 2px;
}

#bg-text-container,
#choose-game {
    background-color: white;
    color: #0D47A1;
    font-weight: 800;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 52%;
    left: 69%;
    transform: skewX(-16deg);
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 22px;
    border-radius: 15px;
    padding-right: 50px;
    box-shadow: -1px -1px 0px skyblue,
    3px 3px 0px skyblue,
    6px 6px 0px #0D47A1;
}

.bg-text {
    transform: skewX(16deg);
    padding-right: 70%;
}

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(7px);
    height: 100%;
    width: 100%;
    background-position: right;
    z-index: 0;
}

#bg-image-container {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
}

.master-list {
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 1px;
    overflow: hidden;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 19px;
    position: fixed;
    z-index: 3;
    padding: 1%;
    top: 9%;
    left: 4.7%;
}

button.del-btn {
    z-index: 200;
    position: fixed;
    margin-left: 94.3%;
    margin-top: 45%;
    border: none;
}

#game-library a {
    color: #0D47A1;
}

a#game-title {
    display: inline-block;
}

a#your-library {
    width: 25%;
    margin-top: 1%;
    margin-left: 1%;
}

a#homepage {
    width: 10%;
    margin-left: 67%;
    margin-top: 45%;
    position: fixed;
}

a#add-games-to-library {
    width: 10%;
    margin-left: 51.5%;
    margin-top: 45%;
}

#game-library {
    margin-left: 1.7%;
    margin-top: 3%;
}

#game-library,
a#your-library,
a#homepage,
a#add-games-to-library,
button.del-btn {
    background-color: white;
    color: #0D47A1;
    font-weight: 300;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 22px;
    border-radius: 15px;
    box-shadow: -1px -1px 0px skyblue,
    3px 3px 0px skyblue,
    6px 6px 0px #0D47A1;
}